@model ProductCreateViewModel

<div class="container">
    <h2>Register new Product</h2>
    <form asp-action="Create" enctype="multipart/form-data" class="form-inline">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProducerId"></label><span class="text-danger">*</span>
            <input asp-for="ProducerId" class="form-control" style="width: fit-content;" />
            <span asp-validation-for="ProducerId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name"></label><span class="text-danger">*</span>
            <input asp-for="Name" class="form-control" style="width: fit-content;" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category"></label><span class="text-danger">*</span>
            <select asp-for="Category" class="form-control" id="Category" style="width: min-content;">
                <option value="">Select Category &#xf0d7;</option>
                <option value="Beverage">Beverage</option>
                <option value="SolidFood">Solid Food</option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nutrition"></label><span class="text-danger">*</span>
            <input asp-for="Nutrition" id="nutritionInput" class="form-control"
                value="Calories: kcal, Saturated Fat: g, Sugar: g, Salt: mg, Fibre: g, Protein: g, Fruit/Vegetable: %" />
            <span asp-validation-for="Nutrition" class="text-danger">Per 100g/ml</span>
        </div>
        <div class="form-group">
            <label asp-for="NutriScore">Nutrition Score:</label>
            <div id="scoreWrapper" class="d-inline-block p-2 rounded">
                <input asp-for="NutriScore" type="text" id="NutriScore" class="form-control"
                    style="width: fit-content; background: transparent; border: none; color: inherit;" readonly />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price">Price (NOK)</label><span class="text-danger">*</span>
            <input asp-for="Price" class="form-control" style="width: fit-content;" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label style="margin-top: 10px;" asp-for="ImageFile">Image File:</label>
            <input type="file" accept="image/*" asp-for="ImageFile" class="form-control-file" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
            <br></br>
        </div>
        <p>
            <button type="submit" class="btn btn-primary">Register</button>
            <a asp-action="Table" class="btn btn-secondary">Go Back</a>
        </p>
    </form>
</div>

@section Scripts
{
    <script src="~/js/nutrition.js"></script>
}
