@model ProductsViewModel
<div class="container">
    <h1>List of Registered Products (@Model.CurrentViewName View)</h1>
    <a href="/Product/Grid">Grid view<i class="material-icons">&#xe3ec;</i></a>

    <partial name="_ProductTable" model="Model.Products"></partial>
</div>
