html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

.score-a { background-color: #2dc803; color: white; max-width: 50px; border-radius: 5px;}
.score-b { background-color: #b5fd00; color: white; max-width: 100px; border-radius: 5px;}
.score-c { background-color: #ffff00; color: rgb(0, 0, 0); max-width: 100px; border-radius: 5px;}
.score-d { background-color: #fe8802; color: white; max-width: 100px; border-radius: 5px;}
.score-e { background-color: #ff0000; color: white; max-width: 100px; border-radius: 5px;}

/* Flex settings for full height layout */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.main-container {
  flex: 1;
}

/* Section Styles */
.section {
  padding: 50px 60px;
}

.section-light {
  background-color: white;
}

.section-dark {
  color: white;
  background-color: #0c041c;
}

.section-dark .feature-card {
  color: #6D2CF2;
  /*background-color: #212529;*/
  background-color: #0c041c;
  border: 0;
}

.section-color {
  color: white;
  background-color: #6D2CF2;
}

.icon {
  font-size: 4rem;
  color: #6D2CF2;
  margin-bottom: 0;
}