@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carousel" />

<div class="text-center mt-5">
    <h1 class="h1">Welcome to My Shop</h1>
</div>

<section class="section section-light">
    <h2 class="h2">About the Service</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed fuga, cupiditate laboriosam, nesciunt ratione ullam
        corporis animi necessitatibus hic voluptates sapiente molestiae repellat inventore, molestias commodi veritatis
        enim quos doloribus?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam in quo vel laboriosam, quidem sunt
        deserunt accusamus facere, illum dolor iure harum placeat nihil quae et ducimus hic. Nihil.</p>
</section>

<section class="section section-dark">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <!-- Feature 1 -->
            <div class="col-sm-4 mb-3 text-center feature-card">
                <div>
                    <p class="mb-0"><i class="icon bi bi-person-plus-fill"></i></p>
                </div>
                <div>
                    <p class="mb-0"><strong>Create your account</strong></p>
                </div>
            </div>

            <!-- Feature 2 -->
            <div class="col-sm-4 mb-3 text-center feature-card">
                <div>
                    <p class="mb-0"><i class="icon bi bi-list-ul"></i></p>
                </div>
                <div>
                    <p class="mb-0"><strong>Register your product</strong></p>
                </div>
            </div>

            <!-- Feature 3 -->
            <div class="col-sm-4 mb-3 text-center feature-card">
                <div>
                    <p class="mb-0"><i class="icon bi bi-globe"></i></p>
                </div>
                <div>
                    <p class="mb-0"><strong>Share with the world</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-light">
    <h2 class="h2">About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam dolore provident libero praesentium, excepturi
        dicta laboriosam eveniet suscipit iste consectetur possimus ad mollitia nisi? Quo eveniet quisquam doloribus
        quis nostrum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quia sed consequuntur officiis maiores sapiente fuga
        ex repudiandae explicabo doloremque accusamus fugit quidem iure culpa, placeat odio, eveniet possimus quam.</p>
</section>

<section class="text-center section section-color">
    <h2 class="h2">Food nutrition registration made simple!</h2>
    <div class="pt-4">
        <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-outline-light">Join Us Today</a>

    </div>
</section>