@model IEnumerable<Producer>

<div class="container">
    <h1>List of Producers</h1>
    @foreach (var producer in Model)
    {
        <div class="container" style="border: 1px solid #ccc; border-radius: 8px; padding: 10px; margin-bottom: 20px;">
            <table class="table table-striped custom-table" style="max-width: 1200px;">
                <thead>
                    <tr class="table-header">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@producer.ProducerId</td>
                        <td>@producer.Name</td>
                        <td>@producer.Address</td>
                    </tr>
                </tbody>
                <p><strong>About</strong></p>
                <partial name="_ProducerProductTable" model="producer.Products" />
            </table>
        </div>
    }
</div>